# macOS
**/*.DS_Store

# IntelliJ
.idea

# Eclipse IDE
.project
.metadata

# Visual Studio
.vscode
.vshistory
.history
.localhistory
.vs
*.vsix

# Sublime Text
.sublime-project
.sublime-workspace

# Emacs
/.emacs.desktop
/.emacs.desktop.lock