.grid {
  display: grid;
  grid-template-rows: auto repeat(var(--rows), 40px);
  grid-template-columns: auto repeat(var(--cols), 40px);
  width: 100%;
  max-height: 80dvh;
  overflow-x: auto;
  overflow-y: auto;
  gap: 5px;
}

.col-cover,
.row-cover {
  position: sticky;
  background: var(--off-white);
}

.col-cover {
  z-index: 3;
  top: 0;
  grid-row: 1;
  grid-column: 1 / -1;
  transform: scaleY(3);
  transform-origin: center bottom;
  box-shadow: 0 10px 5px -10px var(--light-gray);
}

.row-cover {
  z-index: 1;
  left: 0;
  grid-row: 1 / -1;
  grid-column: 1;
  box-shadow: 10px 0 5px -10px var(--light-gray);
}

.language {
  display: flex;
  z-index: 4;
  position: sticky;
  top: 0;
  align-items: flex-end;
  height: 100px;
  padding-bottom: 10px;
  transform: translateX(50%);
}

.language > * {
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.topic {
  z-index: 2;
  position: sticky;
  left: 0;
  align-self: center;
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
}

.bold {
  font-weight: var(--bold);
}

.cell {
  place-self: center;
}

@media (max-width: 600px) {
  .topic {
    white-space: normal;
  }
}
