.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: min(500px, 100%);
  gap: 20px;
}

.results {
  display: flex;
  flex-direction: column;
  min-width: min(500px, 100%);
  gap: 10px;
}

.result {
  display: flex;
  align-items: center;
  gap: 10px;
}
