.footer {
  display: flex;
  z-index: 1;
  position: sticky;
  bottom: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background: var(--white);
  box-shadow: var(--big-shadow);
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}
