.header {
  display: flex;
  z-index: 1;
  position: sticky;
  top: 0;
  align-items: center;
  height: 150px;
  min-height: 100px;
  max-height: 30vw;
  padding: 20px;
  overflow: hidden;
  gap: 10px 20px;
  background: var(--white);
  box-shadow: var(--big-shadow);
  resize: vertical;
}

.video {
  aspect-ratio: 16 / 9;
  height: 100%;
  background: var(--dark-gray);
}

.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
}
