.header {
  display: flex;
  z-index: 1;
  position: relative;
  top: 0;
  height: 150px;
  min-height: 100px;
  max-height: 30vw;
  padding: 20px;
  overflow: hidden;
  gap: 10px 20px;
  background: var(--off-white);
  box-shadow: var(--big-shadow);
  resize: vertical;
}

.text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.icons {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  gap: 20px;
}
