.row {
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  align-items: center;
  justify-content: stretch;
  min-width: 600px;
  padding: 20px;
  gap: 20px;
}

.edited {
  background: var(--accent-pale);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.edit {
  box-sizing: content-box;
  width: 50vw;
  min-width: 20vw;
  max-width: 50vw;
  height: 1lh;
  min-height: 1lh;
  resize: both;
}

.original:not(:focus) {
  border: none;
  resize: none;
}

.limit {
  border-style: dashed;
  border-color: var(--error);
}

.legacy {
  grid-column: 2 / 3;
}
