.row {
  display: grid;
  grid-template-columns: max-content auto 1fr;
  align-items: flex-start;
  justify-content: stretch;
  min-width: 600px;
  padding: 20px;
  gap: 20px;
}

.edited {
  background: var(--accent-pale);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.action {
  display: flex;
  align-items: center;
  gap: 5px;
}

.edit {
  width: 50vw;
  min-width: 20vw;
  max-width: 50vw;
  height: calc(100% - 20px);
  min-height: 1lh;
  resize: both;
}

.original {
  overflow-wrap: anywhere;
}
