.row {
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  align-items: center;
  min-width: 600px;
  padding: 20px;
  gap: 20px;
}

.edited {
  background: var(--accent-pale);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
  gap: 20px;
}

.playWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.edit {
  box-sizing: content-box;
  width: 50vw;
  min-width: 20vw;
  max-width: 50vw;
  height: 1lh;
  min-height: 1lh;
  resize: vertical;
}

.original {
  box-sizing: content-box;
  height: 1lh;
  min-height: 1lh;
}

.original:not(:focus) {
  border-color: transparent;
  resize: none;
}

.warning {
  border-width: 2px;
  border-style: dashed;
  border-color: var(--error);
}

.warningIcon {
  color: var(--error);
}

.legacyLabel {
  grid-column: 1 / 2;
  width: min-content;
}

.legacyText {
  grid-column: 2 / 3;
}
