{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-css-order"
  ],
  "importOrder": [
    "^react",
    "^[a-zA-Z]",
    "^@[a-zA-Z]",
    "^@/",
    "^/",
    "^./",
    "^../"
  ],
  "cssDeclarationSorterOrder": "smacss"
}
