.button {
  padding: 10px 20px;
  gap: 10px;
  border-radius: var(--rounded);
  background: var(--accent);
  color: var(--white);
  transition:
    color var(--fast),
    background var(--fast);
}

.button:hover {
  background: var(--accent-light);
  color: var(--black);
}
