.button {
  padding: 6px 15px;
  gap: 10px;
  border-radius: var(--rounded);
  background: var(--accent);
  color: var(--white);
  transition:
    color var(--fast),
    background var(--fast);
}

.button:hover {
  background: var(--accent-light);
  color: var(--black);
}

.square {
  width: 35px;
  height: 35px;
  padding: 0;
}
