.label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  border-radius: var(--rounded);
  transition: background var(--fast);
}

.label:hover {
  background: var(--accent-light);
}

.checkbox {
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  accent-color: var(--accent);
}
