.label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  border-radius: var(--rounded);
  transition: background var(--fast);
}

.label:focus-within {
  outline: solid 2px currentColor;
}

.label:hover {
  background: var(--accent-pale);
}

.icon {
  height: 1.25em !important;
  color: var(--accent);
}
