.player {
  position: relative;
  aspect-ratio: 16 / 9;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-color: var(--dark-gray);
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
