.progress {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 7px;
  transform: scaleX(var(--progress));
  transform-origin: left bottom;
  background: var(--accent);
  transition: transform var(--fast);
}
