.label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.select {
  padding: 5px 10px;
  border-radius: var(--rounded);
  background: var(--light-gray);
  appearance: none;
  transition: background var(--fast);
}

.select:hover {
  background: var(--accent-pale);
}
