.label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.select {
  padding: 3px 6px;
  border-radius: var(--rounded);
  background: var(--off-white);
  appearance: none;
  transition: background var(--fast);
}

.select:hover {
  background: var(--accent-light);
}
