:root {
  /** https://tailwindcss.com/docs/customizing-colors */

  /* theme */
  --accent: hsl(200, 100%, 42%);
  --accent-light: hsl(200, 100%, 68%);
  --accent-pale: hsl(200, 100%, 94%);

  /** grays */
  --black: #000000;
  --off-black: #292524;
  --dark-gray: #44403c;
  --gray: #78716c;
  --light-gray: #e7e5e4;
  --off-white: #fafaf9;
  --white: #ffffff;

  /** util colors */
  --success: #10b981;
  --warning: #f59e0b;
  --error: #f43f5e;
  --error-light: #ffd6dd;

  /** font families */
  --sans: "Open Sans", sans-serif;

  /* font weights */
  --regular: 400;
  --medium: 500;
  --bold: 600;

  /* effects */
  --rounded: 5px;
  --fast: 0.25s ease;
  --slow: 0.5s ease;
  --big-shadow: 0 0 5px var(--light-gray), 0 0 20px var(--light-gray);
  --shadow: 0 0 2px var(--light-gray), 2px 2px 5px var(--light-gray);
  --spacing: 2;
  --compact: 1.5;

  /** sizes */
  --content: 800px;
}

html {
  font-weight: var(--regular);
  line-height: var(--compact);
  font-family: var(--sans);
}

*,
::before,
::after {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

section[data-narrow] {
  padding: 40px max(40px, (100% - 800px) / 2);
}

section[data-full] {
  padding: 40px 0;
}

section:nth-child(even) {
  background: var(--off-white);
}

/** headings */

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--deep);
  font-weight: var(--bold);
  text-wrap: balance;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: var(--light-gray);
}

/** text */

a {
  color: var(--accent);
  transition: color var(--fast);
}

a:hover {
  color: currentColor;
}

p {
  margin: 0;
  line-height: var(--spacing);
  text-align: justify;
  text-wrap: pretty;
}

b,
strong {
  font-weight: var(--bold);
}

/** list */

ul,
ol {
  width: 100%;
  padding: 0 0 0 20px;
  line-height: var(--spacing);
}

li {
  margin: 5px 0;
  padding-left: 10px;
}

/** image */

img {
  max-width: 100%;
  max-height: 100%;
}

/** interactive */

[disabled],
[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

label {
  cursor: pointer;
}

button {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 5px;
  border: none;
  background: none;
  color: var(--accent);
  font: inherit;
  cursor: pointer;
}

input:not([type="checkbox"]),
textarea {
  appearance: none;
  min-width: 0;
  background: none;
  font: inherit;
}

select {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

/** focus */

:focus-visible {
  border-radius: var(--rounded);
  outline: solid 2px currentColor;
  outline-offset: 2px;
}

/** visually hide something but keep it available to screen-readers */
/** https://tailwindcss.com/docs/screen-readers */

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

/** util */

.center {
  text-align: center;
}

.narrow {
  max-width: 600px;
}

.icon {
  width: unset;
  height: 1em;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

a:has(.icon) {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

/** tooltip */

.tippy-box {
  max-width: 350px !important;
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--black);
  color: var(--white);
}

.tippy-content {
  padding: 0;
  font-size: 1rem;
}

.tippy-arrow {
  z-index: 99;
  color: var(--black);
}

span[data-tooltip],
strong[data-tooltip] {
  text-decoration: underline dashed;
  text-underline-offset: 0.2em;
}
